.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-gray{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #2c2c2c; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background-color: #555; /* Scrollbar thumb color */
    border-radius: 10px; /* Scrollbar thumb roundness */
    border: 3px solid #2c2c2c; /* Creates padding around thumb */
}

/* For Firefox */
html {
    scrollbar-width: thin; /* Scrollbar width */
    scrollbar-color: #555 #2c2c2c; /* Scrollbar thumb and track color */
}
